.questionario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.botaobtn {
    display: flex;        
    align-items: center;
        
}

